.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 여기서부터*/

.glb-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #ffffff;
  z-index: 499;
}

.glb-title{
  width: 20%;
  margin-left: 5%;
  display: flex;
}

.glb-title a{
  padding-left: 0;
}

.glb-nav{
  width :65%;
  margin-right: 45%;
}

.glb-login{
  width: 15%;
}

/* Home */

.home-body{
  width: 100%;
  height: 3000px;
  background: url(./img/main_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
}

.big-box{
  width: 100px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 498;
}

.big-title{
  position: fixed;
  top: 110px;
  left: 20px;
  width: 600px;
  height: 210px;
  padding-top: 10px;
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 499;
}

.big-title h1{
  margin: 0 0 0 0 ;
  padding: 0px 0px 0px 0px;
  height: 65px;
  font-size: 3.2em;
  color: #ffffff;
  font-weight: bold;
}

.big-title span{
  color: #2C3D4F;
}

.box-link{
  width: auto;
  height: auto;
  position: fixed;
  top: 80%;
  left: 200px;
  color: black;
  list-style: none;
}

.box-link a {
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 100px;
}

.box-link a:hover{
  color: #2C3D4F;
  text-shadow: 0px 0px 3px lemonchiffon ;
}

/*
.big-title-small{
  position: fixed;
  top: 110px;
  left: 20px;
  width: 400px;
  height: 210px;
  padding-top: 12px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.big-title-small h1{
  margin: 0 0 0 15px ;
  padding: 12px 0px 0px 0px;
  height: 65px;
  font-size: 2.5em;
  color: #ffffff;
}
*/

.home-main{
  width: 75%;
  height: 3000px;
  background-color: #ffffff;
  position: absolute; top: 1000px; left: 0;
  padding-top: 100px;
  z-index: 500;
}

/*
.glb-login{
  animation: fadeout 0s;
}

@keyframes fadeout {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
*/

.side-header{
  width: 25%;
  height: 100%;
  position: fixed; 
  top: 0px;
  right: 0px;
  background: url(./img/main_nav_m4.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  animation: fadein 1s;
  z-index: 501;
}

.delete{
  display: none;
}

@keyframes fadein{
  from{ opacity: 0;}
  to{ opacity: 1;}
}

@keyframes fadeout{
  from{ opacity: 1;}
  to{ opacity: 0;}
}

.side-title{
  width: 100%;
  height: 15%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 15% 0 0 10%;
  font-size: 2em;
}

.side-nav{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.side-login{
  height: 15%;
}

.donation-box{
  height: 230px;
  background-color: #e27f22;
  padding: 40px;
}

.quiz-box{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 400px;
  margin-top: 100px;
  background-color: lightgray;
  padding: 50px;
}

.quiz-radio-box{
  padding: 50px;
}

.quiz-box button{
  width: 140px;
  height: 90px;
  padding: 0;
  margin-left: 95%;
  font-size: 1.3em;
}

.footer{
  background-color: #2C3D4F;
  width: 100%;
  height: 300px;
  position: absolute; bottom: 0;
}

.footer p{
  color: #ffffff;
}

/*About*/
.about-background{
  width: 100%;
  height: 5000px;
  background-color: #ffffff;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
}

.article-header{
  display:flex;
  justify-content: space-between; 
  padding: 10px 30px;
  margin-bottom: 30px;
}

.article-main h1{
  font-size: 3.5em;
}

.article-section{
  margin: auto;
  width: 80%;
}

.article-section h2{
  font-size: 3em;
}

.article-section img{
  width:100%; 
  height: 40%;
  object-fit: cover;
  margin: 20px 0;
}

.article-section p{
  text-align: left;
  font-size: 1.3em;
}

.first-paragraph::first-letter {
  font-size: 2.5em;
}

.article-section .top-botton{
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px
}

.article-section .top-botton button{
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.matching-header .top{
  display:flex;
  justify-content: space-between; 
  padding: 10px 30px;
  margin-bottom: 30px;
}

.matching-header .bottom{
  display: flex;
  justify-content: space-between;
  background-color: rgb(69, 68, 68);
  height: 400px;
  margin: 100px 0;
}

.matching-header .bottom button{
  border: none;
  background-color: transparent;
  
}

/*Donation*/
.donation-background{
  width: 100%;
  height: 2100px;
  background-image: url(../src/img/penguins_img.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: left;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
  
}

/*Safe Center*/
.safecenter-background{
  width: 100%;
  height: 2000px;
  background: url(./img/running_dog.jpg);
  background-size:cover;
  background-attachment:scroll;
  background-position: top right;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
}

/*Login*/
.login-background{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

/*Mypage : myprofile*/
.profile-greet{
  text-align: start;
  padding: 20px 0 0 30px;
}

.profile-greet h1{
  font-size: 3em;
  font-weight: bold;
}

.profile-greet h2{
  margin: 15px 0 0 5px;
  font-size: 1.8em;
}

.mypage-background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #B8C5B6;
}

.mypage-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: auto;
  margin-top: 300px ;
  background-color: transparent;
}

.profile-section{
  display: flex;
  flex-direction: row;
}

.profile-box{
  width: 150px;
  height: 150px;
  margin: 50px;
}

.profileInfo-box{
  margin: 50px;
  padding-top: 10px;
}

/*Mypage : questions*/
.counselor-box{
  width: 100%;
  display: flex;

}

.counselor-profile{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 2px;
  margin: 20px 8px 20px 15px;
  border-radius: 50%;
  color: white;
  background-color: darkgreen;
}

.counselor-p{
  width:fit-content;
  height: 30px;
  text-align: center;
  padding: 2px 20px;
  margin: 20px 15px 20px 0;
  background-color: ivory;
  border-radius: 20px;
}

.user-box{
  display: flex;
  justify-content: flex-end;
  margin: 20px 25px 20px 0;
}

.user-p{
  width:fit-content;
  height: 30px;
  text-align: center;
  padding: 2px 20px;
  background-color: lightcyan;
  border-radius: 20px;
}