@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 여기서부터*/

.glb-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #ffffff;
  z-index: 499;
}

.glb-title{
  width: 200px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
}

.glb-title a{
  padding-left: 0;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #2C3D4F;
}

.glb-title a:hover{
  color: #2C3D4F;
}

.glb-title a path{
  color: #2C3D4F;
}

.glb-nav{
  display: flex;
  justify-content: start;
  width :70%;
}

.glb-nav a{
  text-decoration: none;
  font-weight: bold; 
  padding-left: 10px;
  color: #2C3D4F;
  margin-right: 50px;
}

.glb-nav a:hover{
  color: #E14D2A;
}

.glb-login{
  width: 13%;
  margin-right: 0;
}

.glb-login button{
  border: none;
  background-color: transparent;
  color: #2C3D4F;
  font-weight: 700px;
  font-size: 0.8em;
  margin-right: 10px;
}

/* Home */

.home-body{
  width: 100%;
  height: 3500px;
  background: url(./img/main_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.big-box{
  width: 100px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 498;
}

.big-title{
  position: fixed;
  top: 110px;
  left: 26px;
  width: 600px;
  height: 210px;
  padding-top: 10px;
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 499;
}

.big-title h1{
  margin: 0 0 0 0 ;
  padding: 0px 0px 0px 0px;
  height: 65px;
  font-size: 3.2em;
  color: #ffffff;
  font-weight: bold;
}

.big-title span{
  color: #2C3D4F;
}

.box-link{
  width: auto;
  height: auto;
  position: fixed;
  top: 80%;
  left: 200px;
  color: black;
  list-style: none;
}

.box-link a {
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 100px;
  animation: changeSize 2s;
  animation-iteration-count: infinite;
}

@keyframes changeSize {
  0%{font-size: 1.1em;}
  50%{font-size: 1.17em;}
  100%{font-size: 1.1em;}
}

.box-link a:hover{
  color: #2C3D4F;
}

.home-main{
  width: 75%;
  height: 3500px;
  background-color: #ffffff;
  position: absolute; top: 1000px; left: 0;
  padding-top: 100px;
  z-index: 500;
}

.side-header{
  width: 25%;
  height: 100%;
  position: fixed; 
  top: 0px;
  right: 0px;
  background: url(./img/main_nav_m4.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  animation: fadein 1s;
  z-index: 501;
}

@keyframes fadein{
  from{ opacity: 0;}
  to{ opacity: 1;}
}

@keyframes fadeout{
  from{ opacity: 1;}
  to{ opacity: 0;}
}


.side-title{
  width: 100%;
  height: 15%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 13% 0 0 12%;
  font-size: 2.5em;
}

.side-title a{
  text-decoration: none;
  font-weight: bold;
  color: #E14D2A;
  text-shadow: 0 0 1px black;
}

.side-title a:hover{
  color: #E14D2A;
}

.side-nav{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.side-nav a{
  text-decoration: none;
  margin: 8px;
  color: #ffffff;
  font-size: 1.2em;
}

.side-nav a:hover{
  color: #FFF6BF;
}

.side-login{
  height: 15%;
}

.side-login button{
  text-decoration: none;
  color: #ffffff;
  border: none;
  background-color: transparent;
  font-size: 1.2em;
}

.side-login button:hover{
  color: #FFF6BF;
}

.lastest-box{
  width: 100%;
  margin-bottom: 70px ;
}

.lastest-box h2{
  margin: 40px auto;
  font-size: 2.8em;
  font-weight: bold;
  color: #395144;
}

.lastest-box img{
  width: 90%;
  height: 700px ;
  margin: auto;
  object-fit: cover; 
  object-position: top center;
}

.lastest-box .slick-dots{
  position: relative;
  top: 15px
}

.lastest-box .discover-box{
  width:150px;
  height:150px;
  display:flex;
  background-color:#D6E4E5;
  position: relative;
  bottom: 60px;
  left: 30px;
  border-radius: 50%;
}

.lastest-box .discover-box a{
  margin: auto;
  font-size:  1.8em;
  font-weight: bold;
  text-decoration-line: none;
}

.lastest-box .discover-box:hover{
  animation: big 0.5s;
  animation-fill-mode:forwards;
  background-color: #ccdadb;
}

.lastest-box .discover-box:not(hover){
  animation: small 0.5s;
  animation-fill-mode:forwards;
}

@keyframes big{
  from{width: 150px; height: 150px;}
  to{width: 180px; height: 180px;}
}

@keyframes small{
  from{width: 180px; height: 180px;}
  to{width: 150px; height: 150px;}
}

.donation-box{
  height: 250px;
  background-color: #F66B0E;
  padding: 40px;
}

.donation-box h1{
  font-size: 2em;
  margin: 13px 0 13px 0;
  font-weight: 500;
  color: white;
}

.donation-box a{
  text-decoration: none;
  font-size: 3.3em;
  font-weight: bold;
  color: #FFEBAD;
  margin-bottom: 50px;
}

.donation-box a:hover{
  color: #FFF6BF;
  font-size: 3.5em;
}

.quiz-box{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 400px;
  margin-top: 200px;
  margin-bottom: 80px;
  background-color: #EFEFEF;
  padding: 50px;
}

.quiz-box h1{
  text-align: start;
  margin-bottom: 25px;
  font-weight: bold;
}

.quiz-box h3{
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.quiz-radio-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}

.quiz-radio-box .form-check{
  width: 80px;
  display: inline-block;
  margin-right: 60px;
  font-weight: 600;
  font-size: 1.5em;
}

.quiz-radio-box .form-check:hover{
  color: #E14D2A;
  font-size: 1.6em;
}

.quiz-box button{
  width: 170px;
  height: 90px;
  padding: 10px 25px;
  margin-left: 93%;
  font-size: 2.0em;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #497174;
}

.quiz-box button:hover{
  background-color: #3b5c5e;
}

.lookfamily-box{
  padding-top: 120px;
}

.lookfamily-box h1{
  font-size: 2.8em;
  color: #395144;
  font-weight: bold;
}

.lookfamily-box .card-group{
  width: auto;
  height: auto;
  margin: 50px 50px 40px 50px;
}

.lookfamily-box .card{
  border: none;
  padding: 10px;
}

.lookfamily-box .card-img-top{
  width: auto;
}

.lookfamily-box .card-title{
  font-size: 1.5em;
}

.lookfamily-box .card-text{
  font-size: 1.1em;
}

.lookfamily-box button{
  padding: 20px 50px;
  font-size: 2em;
  font-weight: bold;
  border: none;
  background-color: lemonchiffon;
  color: #497174;
  border-radius: 10px;
}

.lookfamily-box button:hover{
  background-color: rgb(240, 235, 194);
}

/*여기서부터 ! 😅😅😅*/

.footer{
  background-color: #2C3D4F;
  width: 100%;
  height: 200px;
  padding: 45px;
  position: absolute; bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-p{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-p p{
  font-size: 0.9em;
  color: #EFEFEF;
  margin: 3px;
}

.footer-icon{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-icon a svg{
  font-size: 150%;
  margin: 0 10px;
  color: #EFEFEF;
}

.footer-icon a svg:hover{
  color: #d5d4d4;
}

/*About*/
.about-background{
  width: 100%;
  height: 5300px;
  background-color: #ffffff;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.first-sentence{
  font-size: 3em;
  margin-top: 250px;
  margin-bottom: 800px;
  opacity: 0;
  transition: opacity 0.5s; 
  transition-delay: 0.1s;
}

.second-sentence-box{
  background: linear-gradient(white,#F0EBCE, #4E6C50 ,#395144);
  padding-top: 1700px;
  padding-bottom: 800px;
}

.second-sentence{
  color: white;
  font-size: 2.8em;
  transition: opacity 0.7s; 
  transition-delay: 0.1s;
}

.act-box{
  background-color: #395144;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.act-box h1{
  font-size: 3.8em;
  font-weight: bold;
  margin: 400px 0 30px 0;
  color: #ffffff;
}

.act-box .container{
  margin: 20px auto;
  width: 1300px;
}

.slider-div{
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.act-box .slick-slider img{
  margin: auto;
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  transition: width 0.5s;
}

.act-box .slick-slider img:hover{
  width: 410px;
  border: 5px solid rgba(255, 246, 191, 0.9);
}

.act-box .slick-slider h2{
  width: 8%;
  font-size: 2em;
  color: #EFEFEF;
  position: fixed;
  bottom: 3%;
  text-align: left;
  margin-left: 25px;
}

/*
.act-box .slick-slider h2:hover{
  text-shadow: 0 0 5px lemonchiffon;
}
*/

.act-box .slick-dots{
  width: auto;
  position: relative;
  top: 15px;
}

.publishing-background{
  font-family: 'Noto Serif', serif;
}

.article-header{
  display:flex;
  justify-content: space-between; 
  padding: 10px 30px;
  margin-bottom: 30px;
}

.article-header h1{
  margin: 15px;
  font-size: 3.5em;
  font-weight: bold;
  color: #112B3C;
  font-style: italic;
  text-align: start;
}

.article-header a{
  text-decoration: none;
  color: black;
}

.article-header a:hover{
  color: #EB6440;
}

.article-main h1{
  font-weight: bold;
  font-size: 3.3em;
}

.article-section{
  margin: auto;
  width: 80%;
}

.article-section h2{
  font-size: 3em;
}

.article-section img{
  width:100%; 
  height: 40%;
  object-fit: cover;
  margin: 20px 0;
}

.article-section p{
  text-align: left;
  font-size: 1.3em;
}

.first-paragraph::first-letter {
  font-size: 2em;
}

.emotion-box{
  display: flex;
  justify-content: center;
  margin: 70px 0 150px 0;
}

.emotion-box div{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.emotion-box div p{
  text-align: center;
  margin-bottom: 0;
}

.emotion-box div button{
  border: none;
  background-color: transparent;
  font-size: 1.5em;
}

.emotion-box div button:hover{
  font-size: 1.6em;
}

.comment-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 100px auto;
}

.comment-box .name-box{
  text-align: end;
}

.comment-box .name-box input{
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.comment-box .text-box{
  margin-top: 10px ;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.comment-box .text-box textarea{
  width: 100%;
  height: 80%;
}

.comment-box .text-box button{
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #385f4b;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.comment-box .text-box button:hover{
  background-color: #384d42;
}

.added-comment-box{
  margin-top: 50px;
}

.added-comment-inner-box{
  padding: 10px;
  border-top: 0.5px solid lightgray;
}

.added-comment-inner-box p{
  margin-bottom: 0;
}

.added-comment-box .comment-name{
  font-size: 1em;
  font-weight: bold;
}

.added-comment-box .comment-text{
  font-size: 1.1em;
}

.added-comment-box .comment-date{
  font-size: 0.8em;
  text-align: end;
}

.article-section .top-botton{  /*✨💜✨*/
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px
}

.article-section .top-botton button{
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.matching-background{
  
}

.matching-header .top{
  display:flex;
  justify-content: space-between; 
  padding: 10px 30px;
}

.matching-header .top h1{
  margin: 15px 20px;
  font-size: 3em;
  font-weight: 600;
}

.matching-header .top a{
  text-decoration: none;
  font-size: 1.1em;
  color: black;
}

.matching-header .top a:hover{
  color: #EB6440;
}

.matching-header .bottom{
  display: flex;
  justify-content: space-between;
  background-color: rgb(69, 68, 68);
  height: 400px;
  margin: 0 0 100px 0;
}

.matching-header .bottom button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 4em;
  text-align: center;
  width: 100%;
}

.matching-header .bottom button:hover{
  font-size: 4.2em;
}

.matching-header .bottom img{
  width: 600px;
  height: 400px;
  margin-top: 50px;
}

.matching-cards{
  width: 88%;
  display: inline-block;
}

.matching-cards .card{
  width: 250px;
  height: 380px;
  margin: 36px 50px;
  display: inline-block;
  box-shadow: 2px 1px 2px lightgray;
}

.matching-cards img{
  width: 250px;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

.matching-cards .card-body{
  height: 30%;
  position: relative;
  overflow: hidden;
  padding: 15px;
}

.matching-cards .card-text{
  position: relative;
  overflow: hidden;
}

.adoption-app{
  height: 930px;
  background-color: lightgray;
  padding: 50px;
  margin-top: 100px;
}

.adoption-app h1{
  margin: 40px 0;
  font-size: 2.2em;
  font-weight: bold;
  color: #112B3C;
}

.adopt-app-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adopt-app-form button{
  background-color: #112B3C;
  font-size: 1.3em;
  color: #EFEFEF;
  padding: 8px 20px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
}

.adopt-app-form button:hover{
  background-color: #071925;
}

/*Donation*/
.donation-background{
  width: 100%;
  height: 2100px;
  background-image: url(../src/img/penguins_img.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: left;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.pie-box{
  width: 90%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pie-box .pie-text{
  width: 30%;
  padding: 0;
  margin: 160px 0 0 100px;
}

.pie-text h1{
  font-size: 5em;
  color: #EFF5F5;
  text-align: start;
  font-weight: bold;
}

.pie-text h2{
  font-size: 2em;
  color: #EFF5F5;
  text-align: start;
  margin-top: 15px;
}

.pie-div{
  width: 45%;
  height: 100%;
  margin: 13% 0 13% 2%;
}

.submit-dona-box{
  width: 75%;
  height: 800px;
  margin: 380px auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}

.submit-dona-box h1{
  font-size: 2.8em;
  font-weight: bold;
  color: #ddd5e0;
  margin-bottom: 50px;
}

.submit-dona-box .form-label{
  color: #EFEFEF;
}

.submit-dona-box .form-check{
  color: #EFEFEF;
}

.submit-dona-box .sub-dona-btn{
  background-color: #B6D3DF;
  font-size: 1.3em;
  color: #0d2371;
  padding: 8px 20px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
}

.submit-dona-box .sub-dona-btn:hover{
  background-color: #9dbdcb;
}

/*Safe Center*/
.safecenter-background{
  width: 100%;
  height: 2250px;
  background: url(./img/running_dog.jpg);
  background-size:cover;
  background-attachment:scroll;
  background-position: top right;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.safecenter-title{
  text-align: start;

}

.safecenter-background h1{
  display: inline-block;
  width: 600px;
  margin: 0;
  color: #FFCB42;
  font-weight: bold;
  font-size: 7em;
  margin-top: 50px;
  margin-left: 50px;
  text-align: start;
}

.safecenter-background h2{
  color: #F7F6DC;
  font-size: 3em;
  margin-left: 50px;
  text-align: start;
}

.safecenter-p{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px 0 0 50px;
}

.safecenter-p p{
  color: #f5f4e3;
  font-size: 1.5em;
}

.round-box{
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  top: 30px;
  right: 40px;
}

.round-box a{
  position: relative;
  left: 23px;
  bottom: 56%;
}

.round-box a svg{
  color: rgba(255, 251, 215, 0.7);
  font-size: 2em;
  animation: changeColor 2s;
  animation-iteration-count: infinite;
}

@keyframes changeColor{
  0%{color: rgba(255, 251, 215, 0.7);}
  50%{color: rgba(255, 251, 215, 1)}
  100%{color: rgba(255, 251, 215, 0.7);}
}

.round-div{
  width: 80px;
  height: 80px;
  margin: 0 ;
  border: 1px solid #F7F6DC;
  border-radius: 30%;
  box-shadow: 0 0 10px #F7F6DC;
  animation: round 4s;
  animation-iteration-count: infinite;
}

@keyframes round {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

.submit-vol-box{
  width: 80%;
  height: 1040px;
  margin: 400px auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.25);
}

.submit-vol-box h1{
  width: 100%;
  font-size: 3em;
  text-align: center;
  margin: 0 auto 30px auto;
  color: #EB6440;
}

.vol-app-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vol-app-form .input-day{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 8px;
}

.vol-app-form .input-time{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 8px;
}

.vol-app-form .vol-app-btn{
  background-color: #1A4D2E;
  font-size: 1.3em;
  color: #FFCB42;
  padding: 8px 20px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
}

.vol-app-form .vol-app-btn:hover{
  background-color: #103720;
}

/*Login*/
.login-background{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

/*Mypage : myprofile*/
.mypage-background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #D6E4E5;
}

.mypage-background .mypage-title{
  font-style: italic;
  font-weight: bold;
  font-size: 7em;
  color: rgba(73, 113, 116,0.6);
  position: fixed;
  top: 3px;
  left: 60px;
}

.mypage-background .mypage-home-a{
  height: 10px;
  width: 100px;
  margin: 0;
  text-decoration: none;
  color: #112B3C;
  background-color: transparent;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.mypage-background .mypage-home-a:hover{
  color: #EB6440;
}

.mypage-section{
  width: 80%;
  height: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.mypage-nav{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  margin-top: 145px ;
  background-color: transparent;
}

.mypage-nav a{
  text-decoration: none;
  font-size: 1.3em;
  color: #112B3C;
  margin: 3px auto;
  padding: 5px 7px;
  width: 80%;
}

.mypage-nav a:hover{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  color:#112B3C ;
}

.profile-greet{
  text-align: start;
  padding: 20px 0 0 30px;
}

.profile-greet h1{
  font-size: 3em;
  font-weight: bold;
  color: #112B3C;
}

.profile-greet h2{
  margin: 15px 0 0 5px;
  font-size: 1.8em;
  color: #112B3C;
}

.profile-section{
  display: flex;
  flex-direction: row;
}

.profile-box{
  width: 150px;
  height: 150px;
  margin: 50px;
}

.profile-box .profile-modal-btn{
  background-color: #112B3C ;
  border: none;
  font-size: 1em;
  margin-top: 30px;
}

.profile-box .profile-modal-btn:hover{
  background-color: #264d66;
}

.modal-body .preview{
  width: 200px;
  height: 200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.profileInfo-box{
  margin: 50px;
  padding-top: 10px;
}

.profileInfo-box input{
  background-color: white;
  margin-bottom: 10px;
}

.my-dona-keep{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.my-dona-keep h1{
  margin: 30px;
  font-size: 2.8em;
  font-weight: bold;
}

.my-dona-keep h1 span{
  font-style: italic;
  text-decoration-line: underline;
}

.my-dona-pause{
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.my-dona-pause-btn{
  width: 400px;
  height: 100px;
  font-size: 2em;
  border-radius: 10px;
  color: #EFF5F5;
  background-color: #205375;
  border: none;
}

.my-dona-pause-btn:hover{
  background-color: #396d90;
}

.payment-table{
  margin: 35px auto;
}

.payment-table h3{
  font-weight: bold;
  color: #112B3C;
  margin-bottom: 15px;
}

.payment-table .table{
  width: 60%;
  margin: auto;
  border: 1px solid darkgray;
}

.account-box{
  margin-top: 50px;
}

.payment-info h3{
  font-weight: bold;
}

.payment-info input{
  background-color: #ffffff;
}

.account-modal .account-btn{
  background-color: #112B3C ;
  border: none;
  font-size: 1em;
  margin-top: 5px;
}

.account-modal .account-btn:hover{
  background-color: #264d66;
}

.stop-dona .stop-dona-btn{
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 1.1em;
  margin-top: 50px;
  margin-bottom: 30px;
}

.stop-dona .stop-dona-btn:hover{
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 1.1em;
  font-style: italic;
}


/*Mypage : questions*/
.question-div{
  width: 100%;
  height: 100%;
}

.question-div .question-area{
  width: 100%;
  height: 100%;
}

.qna-box{
  width: 100%;
  height: 85%;
  overflow-y: scroll ;
}

.counselor-box{
  display: flex;
  justify-content: flex-start;
  margin: 10px 15px 10px 15px;
}

.counselor-profile{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 2px;
  margin: 20px 8px 20px 0px;
  border-radius: 50%;
  color: white;
  background-color: #D6E4E5;
}

.counselor-p{
  width:fit-content;
  height: auto;
  text-align: start;
  padding: 2px 20px;
  margin: 20px 15px 20px 0;
  background-color: ivory;
  border-radius: 20px;
}

.counselor-p p{
  margin-bottom: 0;
}

.user-box{
  display: flex;
  justify-content: flex-end;
  height: auto;
}

.user-p{
  width:fit-content;
  height: auto;
  text-align: start;
  padding: 2px 20px;
  margin: 20px 15px 20px 15px;
  background-color: lightcyan;
  border-radius: 20px;
}

.user-p p{
  margin-bottom: 0;
}

@media screen and (max-width: 1608px){
  .matching-cards{
    width: 88%;
  }

  .matching-cards .card{
    width: 220px;
    height: 340px;
    margin: 30px 30px;
  }

  .matching-cards img{
    width: 220px;
  }
}

@media screen and (max-width: 1482px){
  .pie-text h1{
    font-size: 4em;
  }
  
  .pie-text h2{
    font-size: 1.8em;
  }

  .pie-div{
    width: 50%;
  }
}

@media screen and (max-width: 1399px){
  .slider-div{
    width: 350px;
    height: 450px;
    margin: 0 auto;
  }
  
  .act-box .slick-slider img{
    width: 350px;
    height: 450px;
  }

  .act-box .slick-slider img:hover{
    width: 355px;
    border: 5px solid rgba(255, 246, 191, 0.9);
  }

  .act-box .slick-slider h2{
    font-size: 1.8em;
    width: 5%;
    margin-left: 40px;
  }

  .payment-table .table{
    width: 65%;
  }

}

@media screen and (max-width: 1290px){
  .matching-cards{
    width: 89%;
  }

  .matching-cards .card{
    width: 183px;
    height: 300px;
    margin: 30px 22px;
  }

  .matching-cards img{
    width: 183px;
  }

  .matching-cards .card-body{
    padding: 5px;
  }

  .pie-div{
    width: 50%;
  }
}

@media screen and (max-width: 1199px){
  .act-box .container{
    width: 850px;
  }

  .act-box .slick-slider h2{
    width: 5%;
    bottom: 2%;
    margin-left: 40px;
  }

  .pie-box{
    height: 900px;
    flex-direction: column;
    justify-content: center;
  }

  .pie-box .pie-text{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 0 0 0;
  }

  .pie-text h1{
    text-align: center;
  }
  
  .pie-text h2{
    text-align: center;
  }

  .pie-div{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .submit-dona-box{
    margin: auto;
  }

  .safecenter-background h1{
    width: 450px;
    color: #FFCB42;
    font-size: 5em;
  }

  .safecenter-background h2{
    font-size: 2.5em;
  }

  .safecenter-p p{
    font-size: 1.3em;
  }

  .submit-vol-box h1{
    font-size: 2.5em;
    color: #EB6440;
  }
}

@media screen and (max-width: 1037px){
  .matching-cards .card{
    margin: 30px 18px;
  }
}

@media screen and (max-width: 1000px){
  .glb-header{
    z-index: 1000;
  }

  .glb-title{
    width: 15%;
    margin-left: 10px;
  }

  .glb-nav{
    justify-content: center;
  }

  .glb-nav a{
    padding-left: 0px;
    margin: auto 30px;
  }

  .glb-login{
    width: 15%;
  }

  .side-header{
    visibility: hidden;
  }

  .home-body{
    height: 3200px;
  }

  .home-main{
    width: 100%;
    z-index: 999;
    height: 3200px;
  }

  .lastest-box img{
    width: 800px;
    height: 500px;
    object-position: center;
  }

  .matching-header .bottom{
    height: 250px;
  }

  .matching-header .bottom button{
    font-size: 3em;
  }

  .matching-header .bottom button:hover{
    font-size: 3.2em;
  }

  .matching-header .bottom img{
    width: 400px;
    height: auto;
    margin-top: 0;
  }

  .matching-cards{
    width: 95%;
  }

  .matching-cards .card{
    width: 165px;
    height: 280px;
    margin: 11px;
  }

  .matching-cards img{
    width: 165px;
    height: 60%;
  }

  .matching-cards .card-body{
    padding: 10px;
  }

  .slider-div{
    width: 330px;
    height: 430px;
    margin: 0 auto;
  }
  
  .act-box .slick-slider img{
    margin: auto;
    width: 330px;
    height: 430px;
    object-fit: cover;
    object-position: center;
  }

  .act-box .slick-slider img:hover{
    width: 335px;
    border: 5px solid rgba(255, 246, 191, 0.9);
  }

  .act-box .slick-slider h2{
    font-size: 1.8em;
    width: 5%;
    margin-left: 43px;
  }

  .pie-box{
    margin-top: 60px;
    height: 500px;
  }

  .pie-text h1{
    font-size: 3em;
  }
  
  .pie-text h2{
    font-size: 1.8em;
  }

  .pie-div{
    margin-top: 50px;
  }

  .submit-dona-box{
    margin: 280px auto;
  }

  .submit-vol-box h1{
    font-size: 2em;
    color: #EB6440;
  }

  .mypage-section{
    width: 70%;
  }

  .mypage-nav{
    width: 30%;
  }

}

@media screen and (max-width: 804px){
  .matching-cards .card{
    margin: 6px
  }
  .matching-cards .card-title{
    font-size: 1.1em;
  }

  .matching-cards .card-text{
    font-size: 0.9em;
  }

  .matching-cards .card-body{
    padding: 15px;
  }

  .act-box .container{
    width: 800px;
  }

  .act-box .slick-slider h2{
    font-size: 1.6em;
    width: 5%;
    margin-left: 200px;
  }

  .pie-box{
    height: 500px;
  }

  .pie-text h1{
    font-size: 3em;
  }
  
  .pie-text h2{
    font-size: 1.6em;
  }

  .pie-div{
    width: 500px;
    height: 300px;
  }

  .my-dona-keep h1{
    font-size: 2em;
  }

}

@media screen and (max-width: 768px){
  .glb-header{
    z-index: 1000;
  }

  .side-header{
    visibility: hidden;
  }

  .big-title{
    width: 330px;
    height: 160px;
    margin-left: 52px;
  }

  .big-title h1{
    font-size: 2em;
  }

  .home-body{
    height: 3100px;
  }

  .home-main{
    width: 100%;
    z-index: 999;
    height: 3100px;
    position: absolute; top: 0; left: 0;
  }

  .lastest-box img{
    width: 500px;
    height: 350px;
    object-position: center;
  }

  .lastest-box .discover-box{
    width: 100px;
    height: 90px;
    position: relative;
    left: 15px;
  }

  .lastest-box .discover-box a{
    font-size: 1.5em;
  }

  .quiz-box{
    width: 100%;
    height: 450px;
  }

  .quiz-box h3{
    text-align: center;
  }

  .quiz-radio-box{
    justify-content: center;
  }

  .quiz-box button{
    width: 170px;
    height: 70px;
    margin: auto;
  }

  .lookfamily-box .card-group{
    height: 650px;
    margin-bottom: 5%;
  }

  .lookfamily-box .card-title{
    font-size: 1.2em;
  }

  .lookfamily-box .card-text{
    font-size: 0.85em;
  }

  .first-sentence{
    font-size: 2.5em;
  }

  .second-sentence{
    font-size: 2em;
  }

  .article-header h1{
    font-size: 2.8em;
  }

  .article-main h1{
    font-size: 2.5em;
  }

  .article-section h2{
    font-size: 2em;
  }

  .matching-header .top h1{
    font-size: 2.5em;
  }

  .matching-header .bottom button{
    font-size: 2.2em;
  }

  .matching-header .bottom button:hover{
    font-size: 2.3em;
  }

  .matching-cards{
    width: 98%;
  }

  .matching-cards .card{
    width: 130px;
    height: 220px;
    margin: 10px;
  }

  .matching-cards img{
    width: 130px;
    height: 60%;
  }

  .act-box .container{
    width: 430px;
  }

  .act-box .slick-slider h2{
    font-size: 1.6em;
    width: 5%;
    margin-left: 50px;
  }

  .safecenter-background h1{
    width: 380px;
    color: #FFCB42;
    font-size: 4em;
  }

  .safecenter-background h2{
    font-size: 2.3em;
  }

  .safecenter-p p{
    font-size: 1.2em;
  }

  .submit-vol-box{
    width: 80%;
  }

  .submit-vol-box h1{
    width: 70%;
    font-size: 2em;
    color: #EB6440;
  }

  .my-dona-pause-btn{
    width: 280px;
    height: 60px;
    font-size: 1.2em;
    border-radius: 10px;
    color: #EFF5F5;
    background-color: #497174;
    border: none;
  }
}

@media screen and (max-width: 687px){
  .profile-section{
    flex-direction: column;
  }

  .profile-box{
    margin-left: 35px;
  }

  .profileInfo-box{
    margin-top: 20px;
    margin-left: 15px;
  }

  .profile-greet h1{
    font-size: 2.3em;
  }
  
  .profile-greet h2{
    font-size: 1.3em;
  }

  .profileInfo-box label{
    margin-left: 30px;
  }

  .footer{
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 629px){
  .matching-cards{
    width: 90%;
  }

  .matching-cards .card{
    margin: 7px 30px;
  }

  .pie-box{
    margin-top: 70px;
    height: 450px;
  }

  .pie-text h1{
    font-size: 2.5em;
  }
  
  .pie-text h2{
    font-size: 1.4em;
  }

  .pie-div{
    width: 450px;
  }

  .submit-dona-box{
    margin: 320px auto;
  }

  .submit-vol-box{
    width: 90%;}

  .article-header a{
    font-size: 0.8em;
  }
}


@media screen and (max-width: 575px){
  .glb-header{
    z-index: 1000;
  }

  .glb-title{
    width: 15%;
    margin-left: 10px;
  }

  .glb-title a{
    font-size: 1.1em;
  }

  .glb-nav{
    justify-content: center;
  }

  .glb-nav a{
    font-size: 0.8em;
    padding-left: 0px;
    margin: auto 15px;
  }

  .glb-login{
    width: 15%;
  }

  .glb-login button{
    font-size: 0.5em;
    margin-right: 0px;
  }

  .home-body{
    height: 4700px;
  }

  .home-main{
    width: 100%;
    z-index: 999;
    height: 5000px;
    position: absolute; top: 0; left: 0;
  }

  .lookfamily-box .card-group{
    height: 80%;
    margin-bottom: 5%;
  }

  .lookfamily-box button{
    font-size: 1.5em;
  }

  .first-sentence{
    font-size: 2em;
  }

  .second-sentence{
    font-size: 1.5em;
  }

  .article-header h1{
    font-size: 2.2em;
  }

  .article-main h1{
    font-size: 2em;
  }

  .article-section h2{
    font-size: 1.5em;
  }

  .article-section p{
    font-size: 1.1em;
  }

  .first-paragraph::first-letter {
    font-size: 1.8em;
  }

  .matching-header .top h1{
    font-size: 2em;
  }

  .matching-header .bottom button{
    font-size: 1.5em;
  }

  .matching-header .bottom button:hover{
    font-size: 1.6em;
  }

  .matching-header .bottom img{
    width: 350px;
    height: auto;
    margin-top: 0;
  }

  .round-box{
    display: none;
  }

  .article-header a{
    width: 100px;
  }

}

@media screen and (max-width: 390px){
  .glb-title{
    width: 90px;
    margin-left: 20px;
    justify-content: start;
  }
  
  .glb-title a{
    font-size: 1em;
  }
  
  .glb-nav{
    justify-content: center;
  }
  
  .glb-nav a{
    font-size: 0.5em;
    padding-left: 0px;
    margin-right: 20px;
  }
  
  .glb-login{
    width: 20%;
  }

  .matching-header .bottom{
    height: 200px;
  }

  .matching-header .bottom img{
    width: 250px;
  }

  .matching-cards{
    width: 98%;
  }

  .matching-cards .card{
    margin: 10px 20px;
  }

  .adoption-app h1{
    margin: 10px 0 40px 0;
    font-size: 1.8em;
  }

  .act-box .container{
    width: 280px;
  }

  .act-box .slick-slider h2{
    font-size: 1.6em;
    width: 5%;
    margin-left: 50px;
  }

  .slider-div{
    width: 250px;
    height: 350px;
  }
  
  .act-box .slick-slider img{
    width: 250px;
    height: 350px;
  }
}