.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 여기서부터*/

.home-body{
  width: 100%;
  height: 3000px;
  background: url(./img/main_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
}

.glb-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #ffffff;
  z-index: 499;
}

.glb-title{
  width: 20%;
  margin-left: 5%;
  display: flex;
}

.glb-title a{
  padding-left: 0;
}

.glb-nav{
  width :65%;
  margin-right: 45%;
}

.glb-login{
  width: 15%;
}

.box{
  width: 100px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 498;
}

.big-title{
  position: fixed;
  top: 110px;
  left: 20px;
  width: 500px;
  height: 210px;
  padding-top: 10px;
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 499;
}

.big-title h1{
  margin: 0 0 0 0 ;
  padding: 0px 0px 0px 0px;
  height: 65px;
  font-size: 3.2em;
  color: #ffffff;
}

.big-title span{
  color: #000051;
}

.box-link{
  width: auto;
  height: auto;
  position: fixed;
  top: 80%;
  left: 200px;
  color: black;
  list-style: none;
}

.box-link a {
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 100px;
}

.box-link a:hover{
  color: #000051;
  text-shadow: 0px 0px 3px lemonchiffon ;
}

/*
.big-title-small{
  position: fixed;
  top: 110px;
  left: 20px;
  width: 400px;
  height: 210px;
  padding-top: 12px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.big-title-small h1{
  margin: 0 0 0 15px ;
  padding: 12px 0px 0px 0px;
  height: 65px;
  font-size: 2.5em;
  color: #ffffff;
}
*/

.home-main{
  width: 75%;
  height: 2100px;
  background-color: #ffffff;
  position: absolute; top: 1000px; left: 0;
  padding-top: 100px;
  z-index: 500;
}

/*
.glb-login{
  animation: fadeout 0s;
}

@keyframes fadeout {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
*/

.side-header{
  width: 25%;
  height: 100%;
  position: fixed; 
  top: 0px;
  right: 0px;
  background: url(./img/main_nav_m4.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  animation: fadein 1s;
  z-index: 501;
}

.delete{
  display: none;
}

@keyframes fadein{
  from{ opacity: 0;}
  to{ opacity: 1;}
}

@keyframes fadeout{
  from{ opacity: 1;}
  to{ opacity: 0;}
}

.side-title{
  width: 100%;
  height: 15%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 15% 0 0 10%;
  font-size: 2em;
}

.side-nav{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.side-login{
  height: 15%;
}

/*About*/
.about-background{
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
}

/*Donation*/
.donation-background{
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
  
}

/*Safe Center*/
.safecenter-background{
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
  position: absolute; top: 100px; left: 0;
  z-index: 501;
}

/*Login*/
.login-background{
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
}